/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.08.2014, 20:15:35
    Author     : andi
*/

/** /public/css/StickyNotes.css */
/*@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);*/

* { box-sizing:border-box; }

body { 
    background: #fff;
    padding-top: 0;
}

/* CSS colors */

.green {
    color: #85b32a;
}
.green-bg {
    background: #85b32a;
}

.light-green {
    color: #d6f29d;
}

.light-green-bg {
    background-color: #d6f29d;
}

.clear-both {
    clear: both;
}

.navbar-admin {
    color: #fff;
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.form-element {
    width: 250px;
}

.product-view {
    border: 1px solid #aaa;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
}

.product-image {
    float: left;
}

.desc-long {
    width: 300px;
    float: left;
}

.product-price-div {
    text-align: right;
    height: 100px;
}

.add-to-shopping-cart {
    text-align: right;
}

.add-to-cart {
    float:right;
}

.add-to-cart .price {
    font-size: 2.5em;
}

.shopping-cart-container {
    width: 200px;
}

.footer {
    margin: 1em;
}

.product-container {
    height: 80px;
}

#submitbutton {
    margin-right: 10px;
}

.product-detail {
    text-align: right;
}

.checkout {
    text-align: right;
    margin: 20px 0;
}

.col-sum {
    width: 150px;
    text-align: right;
}

.total-sum {
    font-size: 16px;
    font-weight: bold;
}
.col-sumdesc {
    width: 220px;
}

.payment-desc {
    margin-left: 18px;
}

.sum-price {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}
.sum-desc {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

.order-info {
    border: 1px solid #ddd;
    border-radius: 4px;
    /* 
     * width of 390px 
     */
    width: 550px;
    padding: 10px 15px;
    float: left;
}

.nav-top-right {
    margin-top: 5px;
    float:right;
}

.navbar-nav > li > a {
    line-height: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.navbar-inverse .navbar-brand {
    color: #85b32a;
}

.main-container {
    min-height: 500px;
}

.purchaser {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.purchaser input[type=radio] {
    display: inline;
}

.navbar-checkout {
    margin-bottom: 1em;
}
.navbar-checkout li {
    border: 1px solid #ddd;
    border-radius: 7px;
    float: left;
    font-size: 25px;
    /*line-height: 30px;*/
    margin-right: 31px;
    /*padding: 10px 15px;*/
    width: 260px;
}
.navbar-checkout li:last-child {
    margin-right: 0px;
}
.navbar-checkout > li > a {
    font-size: 25px;
    line-height: 20px;
}
.navbar-checkout > li.active > a {
    font-weight: bold;
}

/*.ers-dropdown {
    width: 960px;
}*/
ul.ers-dropdown {
    padding: 0px;
    margin: 0px;
}
ul.ers-dropdown:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
ul.ers-dropdown li {
    list-style: none;
    float:left;
}
ul.ers-dropdown li a {
    text-decoration: none;
    display: block;
    /*color: #333;*/
    padding: 14px 34px 14px 34px;
}
ul.ers-dropdown li:hover > ul {
    visibility: visible;
}
ul.ers-dropdown li ul{
    display: inline;
    visibility: hidden;
    position: absolute;
    padding:0px;
}
ul.ers-dropdown li ul li{
    float: none;
    background-color: #f1f1f1;
}
ul.ers-dropdown li ul li a:hover{
    /*color: #333;*/
    background-color: #ddd;
}

.p_overlay {
    position:absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    background: url("/img/transparence50.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    z-index: 100;
}
.p_overlay_inner {
    background: #fff;
    width: 500px;
    margin: 100px auto;
    border: 1px solid #ddd;
    padding: 15px;
}

div.floatLeft {
    float: left;
}
div.floatRight {
    float: right;
}

#TnC-container {
    display: none;
}

a.product-item {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 15px;
}
a.product-item:hover {
    text-decoration: none;
    /*background-color: #f1f1f1;*/
    background-color: #d6f29d;
}
a.product-item span.product-title {
    font-size: 24px;
    display: block;
}
a.product-item span.product-short-description {
    display: block;
}
dt.product-price {
    font-size: 12px;
}
.product-price {
    font-size: 22px;
    text-align: right;
    display: block;
    color: #ddd;
}
.product-price-list {
    font-size: 18px;
    text-align: right;
    display: block;
    color: #ddd;
}
.product-price-active {
    color: #000;
}

div.product-info-field {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 15px;
}

.sum-table {
    width: 300px;
    float: right;
}

.p_overlay_close {
    text-align: right;
}
.p_overlay_close_inner {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2px 5px;
}
.p_overlay_close_inner a:hover {
    text-decoration: none;
}

.start-button {
    padding-top: 1em;
    padding-left: 4em;
    
}

.btn-vlg {
    border-radius: 6px;
    font-size: 24px;
    line-height: 1.5;
    padding: 15px 26px;
}

.cart-amount {
    width: 150px;
}
.cart-price {
    width: 150px;
}
.cart-tool {
    width: 150px;
}

.table-notbordered th,
.table-notbordered td {
    border: none !important;
}

.price-table {
    border: none !important;
    width: auto;
    float: right;
}

.price-table th,
.price-table td {
    width: auto;
    text-align: right;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    /*line-height: 1.42857;*/
    line-height: 1;
}

.product-icon-lg {
    font-size: 340px; 
    color: #85b32a;
    margin-bottom: 20px;
}

.dl-horizontal dd {
    margin-left: 0px;
}

.package {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

label.payment-type {
    font-size: 24px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0px;
}
label.purchaser-label {
    font-size: 24px;
    font-weight: normal;
    
}